services:
  web_dating_app_frontend_prod:
    image: web_dating_app_frontend_prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./src:/usr/src/app/src
    networks:
      - web_network

networks:
  web_network:
    external: true
