@import "tailwindcss";

@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #44624a;
  --color-primary-light: #c0cfb2;
  --color-secondary: #f1ebe1;
  --color-light: #f8f9fa;
  --color-dark: #212529;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.7rem;
}
h6 {
  font-size: 1.5rem;
}

p {
  font-weight: 600;
}
